/* Style Sheet for 345 Assignment: Rory Mearns. */

/* CSS Style Reset using license free code from: http://meyerweb.com/eric/tools/css/reset/ 
	Useful so I can build our own style from the ground up  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

/* ---------------------------------------------- */
/* My custom styles are below */

/*
My Golden Ratio for Typography: Helvetica Neue
Content Width: 685px
Font Size: 16px
line Height: 26px

My Color Scheme:
Light Gray 1: #F2F2F2 - (lightest)
Light Gray 2: #E6E6E6
Light Gray 3: #DCDCDA
Mid Gray: #C4C4C4
Dark Gray 1: #4C565C
Dark Gray 2: #383B3E
Light Green 1: #72C29B
Light Green 2: #60AA85
Mid Green: #47834B
Mid Brown: #A4A875
Mid Orange: #FF5E14
*/



body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 16px;
   line-height: 26px;
   background-color: #F2F2F2;
   color: #383B3E;
}

h1 {
	font-size: 50px;
	font-weight: 600;
	margin: 23px 0;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	margin: 30px 0;
}

h3 {
	font-size: 22px;
	font-weight: 500;
	margin: 10px 0;
}

h4 {
	font-size: 18px;
	font-weight: 500;
	margin: 5px 0;
}

p {
	margin: 10px 0;
}

strong {
	font-weight: 500;
}

section {
	width: 685px;
	margin: 0 auto;
}

header {

}

header p {
	text-align: center;
}

dt {
	float: left;
	clear: left;
	margin-right: 6px;
	font-weight: 500;
}

dd {
	clear: right;
	padding-left: 60px;
}

section li {
	list-style-type: disc;
	margin: 5px 0 5px 50px;
}

#contents li {
	list-style-type: none;
	margin: 0 0 0 0;
}

#schedule li {
	list-style-type: none;
	margin: 0 0 0 0;
}

nav {
	text-align: center;
	margin: 20px 0;
}

nav li {
	display: inline;
	padding-right: 20px;
	font-size: 18px;
	font-weight: 900;
}

footer{
	height: 110px;
	background-color: #60AA85;
	margin-top: 25px;
	padding-top: 8px;
	text-align: center;
}

footer p {
	font-size: 13px;
	color: #383B3E;
}

footer nav li {
	font-size: 16px;
	font-weight: 400;
}

a {
	color: black;
}

footer a {
	color: #383B3E;
}

a:visited {
	color: #383B3E;
}

footer a:visited {
	color: #383B3E;
}

a:hover, a:focus {
	color: #FF5E14;
}

footer a:hover, a:focus {
	color: #FF5E14;
}

.brief {
	font-style: italic;
	font-weight: 100;
}

.deadlink {
	color: #C4C4C4;
}

.mainapp {
	height: 400px;
}





















