
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 16px;
   line-height: 26px;
   background-color: #F2F2F2;
   color: #383B3E;
}

h1 {
	font-size: 50px;
	font-weight: 600;
	margin: 23px 0;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	margin: 25px 0;
}

h3 {
	font-size: 22px;
	font-weight: 500;
	margin: 10px 0;
}

h4 {
	font-size: 18px;
	font-weight: 500;
	margin: 5px 0;
}

p {
	margin: 10px 0;
}

em {
	font-style: italic;
}

strong {
	font-weight: 500;
}

span {
	font-weight: 900;
}

section {
	width: 685px;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: solid 1px #C4C4C4;
}

header {
	background-color: #E6E6E6;
	margin: 0 0;
	padding: 13px 0;
}

header p {
	text-align: center;
}

ul ul {
	margin-left: 30px;
}

section li {
	list-style-type: disc;
	margin: 5px 0 5px 50px;
}


a {
	color: black;
}

p a {
	font-weight: 500;
	color: #47834B;
}

p a:visited {
	color: #47834B;
}

p a:hover {
	color: #FF5E14;
}

a:visited {
	color: #383B3E;
}

a:hover, a:focus {
	color: #FF5E14;
}

/* --- Canvas element & controls: --- */

canvas {
	border: 1px solid #4C565C;
	cursor: pointer;
}

#proto {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.controls {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 320px;
	margin: 10px auto 10px auto;
	text-align: center;
}

.button {
	width: 100px;
	height: 100px;
	background-color: #E6E6E6;
	border-radius: 7px;
}

.button p {

}

.active {
	box-shadow: inset 0 0 5px #555;
	cursor: pointer;
}

.active:hover {
	background-color: #ccc;
	color: inherit;
}
